@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Urbanist", sans-serif;
  background: #EAECED;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu a,
.navbar-center a {
  font-size: 16px;
  font-weight: 600;
  color: #606060;
}

.menu a.active,
.navbar-center a.active {
  color: #9ed104;
}

.form-label {
  @apply label text-[#0F172A] text-[18px] font-semibold pt-2;
}

.form-input {
  @apply w-full px-[15px] py-2 text-[#71717A] text-[15px] outline-0 border border-[#bdd479a1] focus:border-[#CAEB66] bg-[#F3F3F3] rounded;
}

button {
  cursor: pointer;
}

.dashboard-active a.active {
  color: #9ed104;
}